.main_area {
  padding-top: 9rem;
  padding-bottom: 9rem;

  @media screen and (max-width: 767px) {
    padding-top: 4rem;
    padding-bottom: 4rem;
    width: 80%;
    margin: auto;
  }

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
  }

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    width: 30%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    color: rgba(255, 255, 255, 0.6);

    @media screen and (max-width: 767px) {
      width: 100%;
    }
  }

  .gradient_button {
    background: linear-gradient(93.43deg, #5da0ef 19.42%, #5b44e7 63.9%);
    border-radius: 8px;
    display: block;
    margin: auto;
    color: white;
    user-select: none;
    padding: 10px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    display: flex;
    margin-top: 4rem;

    box-shadow: 0px 4px 100px #5d75f0;

    transition: 0.3s ease-in-out;

    @media screen and (max-width: 767px) {
      margin-top: 3rem;
    }

    &:hover {
      background: linear-gradient(
          0deg,
          rgba(48, 24, 192, 0.32),
          rgba(48, 24, 192, 0.32)
        ),
        linear-gradient(93.43deg, #5da0ef 19.42%, #5b44e7 63.9%);
      box-shadow: 0px 4px 100px #5d75f0;
    }

    svg {
      margin-top: 9px;
      margin-left: 10px;
    }
  }
}
