.footer_outer {
  background: #05020d;

  .main_area {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 6rem;

    @media screen and (max-width: 767px) {
      display: flex;
      flex-flow: column;
      padding-top: 2rem;
      padding-bottom: 3rem;
    }

    .left_area {
      width: 50%;
      padding-left: 7rem;
      padding-right: 7rem;

      @media screen and (max-width: 767px) {
        width: 80%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
        padding-top: 1rem;
        padding-bottom: 3rem;
        order: 1;
      }

      .logo {
        padding: 0.5rem;

        @media screen and (max-width: 767px) {
          padding: 0px 0.5rem;
        }
      }

      .subscribe_text {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.6);
        margin-left: 0.5rem;
      }

      .text_containter {
        margin-left: 0.5rem;
        background: rgba(255, 255, 255, 0.06);
        border-radius: 4px;
        width: 30vw;
        padding: 7px 7px 7px 20px;
        display: flex;

        margin-top: 1rem;

        input {
          background: none;
          appearance: none;
          outline: none;
          color: rgba(255, 255, 255, 0.6);
          font-family: "Inter";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          width: 90%;
        }

        .subscribe_button {
          background: linear-gradient(90deg, #5da0f0 0%, #5c44e8 100%);

          border-radius: 4px;
          color: white;
          margin-left: auto;
          padding: 12px 15px;

          font-family: "Inter";
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 13px;

          &:hover {
            transition: 0.3s ease-in-out;
            background: linear-gradient(90deg, #3582de 0%, #a044e8 100%);
          }
        }
      }

      .social_area {
        display: flex;
        margin-top: 0.5rem;

        .social_circle {
          background: rgba(255, 255, 255, 0.12);
          width: 35px;
          height: 35px;
          border-radius: 25px;
          margin-left: 5px;
          margin-right: 5px;
          padding-top: 8px;
          padding-left: 9px;
          cursor: pointer;

          &:hover {
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }

    .right_area {
      width: 50%;
      display: flex;

      @media screen and (max-width: 767px) {
        width: 70%;
        order: 0;
      }

      .footer_list {
        margin-left: 4rem;
        margin-right: 4rem;

        @media screen and (max-width: 767px) {
          margin-left: 3rem;
          margin-right: 3rem;
        }

        h1 {
          font-family: "Inter";
          font-style: normal;
          font-weight: 300;
          font-size: 17px;
          line-height: 19px;
          color: #ffffff;
          margin-bottom: 2.5rem;
        }

        p {
          color: rgba(229, 229, 255, 0.5);

          font-weight: 300;
          font-size: 15px;
          line-height: 17px;
          margin-bottom: 1.5rem;
          cursor: pointer;

          &:hover {
            color: rgba(229, 229, 255, 0.85);
            transition: 0.2s ease-in-out;
          }
        }
      }
    }
  }

  .copyright_text {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.6);
    margin: auto;
    text-align: center;
    margin-bottom: 0.5rem;
  }
}
