.main_area {
  margin: auto;
  padding-top: 14rem;
  padding-bottom: 4rem;
  width: fit-content;

  @media screen and (max-width: 767px) {
    width: 80%;
    padding-top: 10rem;
  }

  .main_line {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.115em;
    text-align: center;
    color: #828fff;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
      font-size: 14px;
    }
  }

  .main_head {
    margin-top: 1rem;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 88px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;

    // anim
    animation: flow 8s ease-in-out infinite;
    background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    @media screen and (max-width: 850px) {
      font-weight: 500;
      font-size: 50px;
      line-height: 1.5;
    }

    @media screen and (max-width: 767px) {
      font-weight: 500;
      font-size: 35px;
      line-height: 1.5;
    }

    @keyframes flow {
      0% {
        background-position: 0 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0 50%;
      }
    }
  }

  .desc {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.3px;
    color: rgba(217, 218, 255, 0.5);
    width: 60%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 3rem;

    @media screen and (max-width: 850px) {
      width: 70%;
      font-size: 16px;
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      font-size: 16px;
    }
  }

  .gradient_button {
    background: linear-gradient(93.43deg, #5da0ef 19.42%, #5b44e7 63.9%);
    box-shadow: 0px 4px 100px #5d75f0;
    border-radius: 8px;
    display: block;
    margin: auto;
    color: white;
    user-select: none;
    padding: 10px 40px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    /* identical to box height, or 140% */

    letter-spacing: 0.2px;
    text-transform: capitalize;
    display: flex;

    margin-bottom: 5rem;

    transition: 0.3s ease-in-out;

    &:hover {
      background: linear-gradient(0deg,
          rgba(48, 24, 192, 0.32),
          rgba(48, 24, 192, 0.32)),
        linear-gradient(93.43deg, #5da0ef 19.42%, #5b44e7 63.9%);
      box-shadow: 0px 4px 100px #5d75f0;
    }

    svg {
      margin-top: 9px;
      margin-left: 10px;
    }
  }
}