.main_area {
  background: rgba(255, 255, 255, 0.05);
  padding-top: 7rem;
  padding-bottom: 7rem;

  .gradient_box {
    background: linear-gradient(279.56deg,
        rgba(84, 214, 255, 0.33) 2.63%,
        rgba(135, 134, 255, 0.58) 75.15%);
    border-radius: 20px;
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (max-width: 767px) {
      width: 80%;
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

  }

  h1 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    /* identical to box height, or 36px */

    text-align: center;

    color: #ffffff;
    margin-top: 1.5rem;

    @media screen and (max-width: 767px) {

      font-weight: 300;
      font-size: 28px;
    }
  }

  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    /* or 178% */

    text-align: center;

    color: rgba(255, 255, 255, 0.6);
    width: 60%;
    margin: auto;
    margin-top: 2rem;

    @media screen and (max-width: 767px) {
      width: 90%;
      margin-top: 1rem;
    }
  }

  .join_button {
    // background: rgba(5, 2, 13, 0.65);
    background: rgba(6, 0, 21, 0.67);
    box-shadow: 0px 4px 60px rgba(69, 166, 255, 0.71);
    border-radius: 12px;
    color: white;
    padding: 10px 50px;
    margin-top: 2.5rem;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;

    &:hover {
      background: rgba(6, 0, 21, 0.87);
      transition: 0.2s ease-in-out;
    }
  }
}